{% include 'admin/header.html' %}

    <div class="p-5 mb-4 bg-light rounded-3">
        <style>
            img {
                display: block; 
                margin: 0 auto; 
                border-radius: 15px;
            }
        </style>
        <div>
            <h1 class="display-5 fw-bold" style="text-align: center;">Bienvenidos a nuestro E-commerce de Comida Gourmet</h1>
            <p class="col-md-8 fs-4">
                Acontinuacion vas a tener un menu de todos nuestras especialidades, no olvides agregar de todo al carrito para poder degustar todas nuestas especialidades. <strong>Bon Appétit!!!</strong>
            </p>
            <img src="https://www.lavanguardia.com/files/image_990_484/uploads/2022/10/20/635165031357f.png" width="1300" height="550">
            <br><br><a href="/about" class="btn btn-primary btn-lg" role="button" style="display: block;">Empezar</a>
        </div>
    </div>

    
    


{% include 'admin/footer.html' %}