{% include 'website/header.html' %}
<header class="text-white text-center py-5" style="background-color: #6c6252;">
    <h1>Acerca de Nuestro Proyecto</h1>

</header>

    <main class="container my-5">
        <section>
            <h2>Proyecto Integrador de la UTN San Rafael</h2>
            <p>
                Este es un proyecto integrador de la <strong>Universidad Tecnológica Nacional (UTN)</strong>, sede San Rafael. 
                El proyecto consiste en un <strong>ecommerce de venta de comida francesa</strong>, donde los usuarios pueden explorar 
                una variedad de platillos franceses y realizar compras de manera sencilla y segura.
            </p>
            <p>
                Para facilitar el proceso de pago, hemos integrado <strong>Mercado Pago</strong>, lo que permite a nuestros 
                clientes realizar transacciones de forma rápida y confiable.
            </p>
        </section>
        <section class="mt-5">
            <h2>Herramientas Utilizadas</h2>
            <p>
                Las herramientas utilizadas en el desarrollo de este proyecto incluyen:
            </p>
            <ul class="list-group">
                <li class="list-group-item"><strong>HTML</strong>: Para la estructura de las páginas web.</li>
                <li class="list-group-item"><strong>CSS</strong>: Para el diseño y estilo visual del sitio.</li>
                <li class="list-group-item"><strong>JavaScript</strong>: Para mejorar la interactividad y experiencia del usuario.</li>
                <li class="list-group-item"><strong>Flask</strong>: Un micro framework de Python que facilita la creación de aplicaciones web.</li>
                <li class="list-group-item"><strong>PostgreSQL</strong>: Para el almacenamiento y gestión de datos en una base de datos relacional.</li>
            </ul>
        </section>
{% include 'website/footer.html' %}