{% include 'website/header.html' %}
<head>
    <link rel="stylesheet" href="static/style/about.css">
</head>
<header class="text-white text-center py-5" style="background-color: #6c6252;">
    <h1 class="style-h1-about">Acerca de Nuestro Proyecto</h1>

</header>

    <main class="container my-5">
        <section>
            <h2>Proyecto Integrador de la UTN San Rafael</h2>
            <p>
                Este es un proyecto integrador de la <strong>Universidad Tecnológica Nacional (UTN)</strong>, sede San Rafael. 
                El proyecto consiste en un <strong>ecommerce de venta de comida francesa</strong>, donde los usuarios pueden explorar 
                una variedad de platillos franceses y realizar compras de manera sencilla y segura.
            </p>
            <p>
                Para facilitar el proceso de pago, hemos integrado <strong>Mercado Pago</strong>, lo que permite a nuestros 
                clientes realizar transacciones de forma rápida y confiable.
            </p>
        </section>
        <section class="mt-5">
            <h2>Herramientas Utilizadas</h2>
            <p>
                Las herramientas utilizadas en el desarrollo de este proyecto incluyen:
            </p>
            <ul class="list-group style-list">
                <li class="list-group-item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQEc9A_S6BPxCDRp5WjMFEfXrpCu1ya2OO-Lw&s" alt="HTML" width="50" height="50"><strong>HTML</strong>: Para la estructura de las páginas web.</li>
                <li class="list-group-item"><img src="https://cdn-icons-png.flaticon.com/512/919/919826.png" alt="CSS" width="50" height="50"><strong>CSS</strong>: Para el diseño y estilo visual del sitio.</li>
                <li class="list-group-item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Ekr0y50dzU1IBDEKnrOqBaRf-LJf0XG_rRkqEl_i0YSuhaRZiXbmi0tizCor_cSqWCQ" alt="JS" width="50" height="50"><strong>JavaScript</strong>: Para mejorar la interactividad y experiencia del usuario.</li>
                <li class="list-group-item"><img src="https://www.manualweb.net/img/logos/flask.png" alt="Flask" width="50" height="50"><strong>Flask</strong>: Un micro framework de Python que facilita la creación de aplicaciones web.</li>
                <li class="list-group-item"><img src="https://w7.pngwing.com/pngs/657/27/png-transparent-postgresql-original-wordmark-logo-icon-thumbnail.png" alt="Postgres" width="50" height="50"><strong>PostgreSQL</strong>: Para el almacenamiento y gestión de datos en una base de datos relacional.</li>
            </ul>
        </section>
{% include 'website/footer.html' %}