{% include 'website/header.html' %}


<!DOCTYPE html>
<html lang="es">
    <head>
        <link rel="stylesheet" href="static/style/about.css">
    </head>

<body style=" font-family: Arial, sans-serif;margin: 0;padding: 0;background-color: #f3f4f6;color: #333;">

    <h1 class="tituloContactUs">Contact us</h1>


    <div class="team-container">
        <div class="team-member">
            <a href="https://github.com/repogiu" target="_blank">
                <img src="https://avatars.githubusercontent.com/u/112589443?v=4" alt="Giuliana" class="profile-pic">
                <p>Giuliana</p>
            </a>
        </div>
        <div class="team-member">
            <a href="https://github.com/RosarioCampora" target="_blank">
                <img src="https://avatars.githubusercontent.com/u/178322071?v=4" alt="Rosario" class="profile-pic">
                <p>Rosario</p>
            </a>
        </div>
        <div class="team-member">
            <a href="https://github.com/Gabo1618" target="_blank">
                <img src="https://avatars.githubusercontent.com/u/96618992?v=4" alt="Gabriel" class="profile-pic">
                <p>Gabriel</p>
            </a>
        </div>
        <div class="team-member">
            <a href="https://github.com/AugustoMonza" target="_blank">
                <img src="https://avatars.githubusercontent.com/u/100814860?v=4" alt="Augusto" class="profile-pic">
                <p>Augusto</p>
            </a>
        </div>
        <div class="team-member">
            <a href="https://github.com/MarceloLamas" target="_blank">
                <img src="https://avatars.githubusercontent.com/u/104458296?v=4" alt="Marcelo" class="profile-pic">
                <p>Marcelo</p>
            </a>
        </div>
        <div class="team-member">
            <a href="https://github.com/AraceliPintos" target="_blank">
                <img src="https://avatars.githubusercontent.com/u/111717735?v=4" alt="Araceli" class="profile-pic">
                <p>Araceli</p>
            </a>
        </div>

        <div class="team-member">
            <a href="https://github.com/FerSego91" target="_blank">
                <img src="https://avatars.githubusercontent.com/u/179595293?v=4" alt="Araceli" class="profile-pic">
                <p>Fernanda</p>
            </a>
        </div>
    </div>

    <a href="https://wa.me/5491128845350" class="whatsapp-float" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/WhatsApp_icon.png" width="60" />
    </a>
</body>


{% include 'website/footer.html' %}